#card {
    background-color: rgb(0, 0, 0, 0.3);
}

#poster_img {
    transition: ease 0.3s;
}

#poster_img:hover {
    transform: scale(1.03);
    border-radius: 10px;
}

.two-line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    /* Number of lines to display */
}